:root {
    /* colors */
    --primary-color: #CB9A87;
    --secondary-color: white;
    --highlight-color:  #FF5000;
    --alert-color: #005CBB ;
    --dark-color: #754D39;

    /* fonts */
    --heading-font: 'Familjen Grotesk', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    /* other */
    --default-transition: 250ms all ease-in-out;

  }

/* Utilities */

.flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.flex {
    display: flex;
    flex: 1;
    padding: 10px;
    max-width: 100%;
}

.body-font {
    font-family: var(--body-font);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.light-section {
    background-color: white;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    font-family: var(--body-font);
}

.dark-section {
    color: var(--secondary-color);
}

.sticky {
    top: 0;
    width: 100%;
  }

  .paragraph {
    line-height: 2;
    font-family: var(--body-font);
    padding-left: 40px;
    padding-right: 40px;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  .inline-link {
    color: inherit;
  }

  .inline-link:hover {
    color: var(--highlight-color);
    font-weight: bold;
    transition: var(--default-transition);
  }

  .small-version {
    display: none;
  }

  .small-version.button {
    display: none;
  }

  .small-version.main-image {
    display: none;
}

.box-shadow {
    box-shadow: 5px 5px 5px black;
}
 
/* Built-in elements */

body, html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    
}

h1 {
    font-size: 72px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}
h2 {
    color: var(--secondary-color);
    font-weight: normal;
    margin-top: 0px;
    opacity: 0.8;
}

h3 {
    color: var(--highlight-color);
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

/* Classes */

    /* page sections */

.index-headings {
    padding-right: 80px;   
}

.container {
    top: 20px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: sticky;
}
.hero {
    font-family: var(--heading-font);
    height: 90vh;
    background-color: var(--primary-color);
    background-attachment: scroll;
}

.index-h1 {
    padding-top: 120px;
}


.top-para {
    padding: 30px;
}

.twitter-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    }

.twitter-timeline {
    display: block;
    margin: 10px auto;
    width: 80%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    }



/* buttons */


  .button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    display: block;
    margin: 0 auto;
  }

  .dark-button {
    color: var(--secondary-color);
    font-weight: bold;
   
  }

  .dark-button:after, .dark-button:before {
    content: "";
    background-color: var(--secondary-color);
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(0.85);
    display: block;
    margin: 0 auto;
  }

    .dark-button:hover:before {
      top: 0;
      transform: scale(1);
    }
    .dark-button:hover:after {
      transform: scale(1);
    }

    .collapsible {
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
      }

/* cards */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .card:hover {
    opacity: 1;
  }

  .card-content {
    color: var(--dark-color);
  }

  .card-para {
    padding: 10px;
  }

.card-header {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.card-video {
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
    overflow: hidden;
    display: block;
    margin: 0 auto;
  }
  
  .card-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
  }

  .card-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    border-radius: 10px;   
    object-fit: cover;
    margin-top: 30px;
}
 
/* My Projects */

.small-header {
    margin-bottom: 0;
}

  .tool-logo {
    max-width: 80%;
  }

    /* other */

.contact-icon {
    color: var(--secondary-color);
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-icon:hover {
    color: var(--highlight-color);
    transition: var(--default-transition);
}

.contact-link {
    text-decoration: none;
}

.main-image {
    border-radius: 5px;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;  
    margin-top: 70px;  
    box-shadow: 2px 2px 10px, -60px -40px 1px var(--highlight-color), 60px 40px 1px #ffff;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    color: var(--secondary-color);
    font-size: 32px;
    padding-top: 10px;
}

.menu-list-item {
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-list-item:hover {
    color: var(--highlight-color);
    transition: var(--default-transition);
}

.site-video {
    justify-content: center;
}

.about-video {
   margin-top: 50px;
  }
  
  

.challenges {
    display: none;
    overflow: hidden;
}



.project-heading {
    color: var(--secondary-color);
    font-size: 36px;
    text-align: center;
}

.project-section {
    padding-top: 75px;
}

.twitter-header {
font-size: 32px;
padding-top: 60px;
padding: 0px 60px;
}

.twitter-timeline {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-section {
    padding: 40px;
}

/* IDs */

#sun-icon {
    /* max-width: 20%; */
    align-self: flex-end;
    width: 30%;
    margin-top: -100px;
}





/* Responsive */


@media (max-width:800px) {

 /* Utilities */
    .small-version {
        display: block;
    }
    .small-version.button {
        display: block;
    }

    
    .large-version {
        display: none;
    }
    .sub-h1 {
        font-size: 40px;
        margin-bottom: 0;
    }
    .paragraph {
        font-size: 12px;
        padding: 10px;
    }
    .button {
        font-size: 12px;
    }
    .contact-icon {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;

    }

/* index */
    .index-headings {
        padding: 10px;
    }

    .index-h1 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 0;
        padding-top: 30px;
    }

    .small-main-image {
        margin-top: 90px;
        max-width: 40%;
    }

    .large-main-image {
        display: none;
    }
    h2 {
        font-size: 16px;
        text-align: center;
    }

    .twitter-section {
        display: none;
    }

    .menu-list {
        margin-top: 0;
        padding-left: 20px;
    }

    .menu-list-item {
        font-size: 16px;
    }

    #sun-icon {
        margin-top: -120px;
    }

    .footer-section {
        padding: 20px;
        font-size: 10px;
    }

/* about + why */


/* projects */
.site-video {
    padding: 0;
}

.project-section {
    padding-top: 20px;
}

.project-heading {
    font-size: 20px;
    margin: 0;
}

.small-header {
    margin-top: 0;
}

.larger-video {
    margin: 10px;
}
}