:root {
    /* colors */
    --primary-color: #CB9A87;
    --secondary-color: white;
    --highlight-color:  #FF5000;
    --alert-color: #005CBB ;

    /* fonts */
    --heading-font: 'Familjen Grotesk', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    /* other */
    --default-transition: 250ms all ease-in-out;

  }

/* Utilities */

.flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.flex {
    display: flex;
    flex: 1;
    padding: 10px;
    max-width: 100%;
}

.body-font {
    font-family: var(--body-font);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.light-section {
    background-color: white;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    font-family: var(--body-font);
}

.dark-section {
    color: var(--secondary-color);
}

.sticky {
    top: 0;
    width: 100%;
  }

  .paragraph {
    line-height: 2;
    font-family: var(--body-font);
    padding-left: 40px;
    padding-right: 40px;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  .inline-link {
    color: inherit;
  }

  .inline-link:hover {
    color: var(--highlight-color);
    font-weight: bold;
    transition: var(--default-transition);
  }
 
/* Built-in elements */

body, html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    
}

h1 {
    font-size: 72px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}
h2 {
    color: var(--secondary-color);
    font-weight: normal;
    margin-top: 0px;
    opacity: 0.8;
}

h3 {
    color: var(--highlight-color);
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    padding: 0px 60px;
    margin-top: 0px;
}

ul, li {
    list-style-type: none;
}

/* Classes */

    /* page sections */

.index-headings {
    padding-right: 80px;   
}

.container {
    top: 20px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: sticky;
}
.hero {
    font-family: var(--heading-font);
    height: 90vh;
    background-color: var(--primary-color);
    background-attachment: scroll;
}

.index-h1 {
    padding-top: 120px;
}

.about-h1 {
    text-align: center;
}

.top-para {
    padding: 30px;
}

.twitter-section {
    background-color: white;
    /* border: 1px solid var(--highlight-color); */
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    align-self: center;
    }

    .twitter-timeline {
        display: block;
        margin: 10px auto;
        width: 80%;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }



/* buttons */


  .button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    display: block;
    margin: 0 auto;
  }

  .dark-button {
    color: var(--secondary-color);
    font-weight: bold;
   
  }

  .dark-button:after, .dark-button:before {
    content: "";
    background-color: var(--secondary-color);
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(0.85);
    display: block;
    margin: 0 auto;
  }

    .dark-button:hover:before {
      top: 0;
      transform: scale(1);
    }
    .dark-button:hover:after {
      transform: scale(1);
    }

    .collapsible {
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
      }


/* My Projects */

.small-header {
    margin-bottom: 0;
}

  .tool-logo {
    max-width: 80%;
  }

    /* other */

.contact-icon {
    color: var(--secondary-color);
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-icon:hover {
    color: var(--highlight-color);
    transition: var(--default-transition);
}

.contact-link {
    text-decoration: none;
}

.main-image {
    border-radius: 5px;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;  
    margin-top: 70px;  
    box-shadow: 2px 2px 10px, -60px -40px 1px var(--highlight-color), 60px 40px 1px #ffff;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    color: var(--secondary-color);
    font-size: 32px;
    padding-top: 10px;
}

.menu-list-item {
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-list-item:hover {
    color: var(--highlight-color);
    transition: var(--default-transition);
}

.site-video {
    justify-content: center;
}

.challenges {
    display: none;
    overflow: hidden;
}

.about-image {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
}

.project-heading {
    color: var(--secondary-color);
    font-size: 36px;
    text-align: center;
}

.project-section {
    padding-top: 75px;
}

.twitter-header {
font-size: 32px;
padding-top: 60px;
}

.twitter-timeline {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-section {
    padding: 40px;
}

/* IDs */

#sun-icon {
    /* max-width: 20%; */
    align-self: flex-end;
    width: 30%;
    margin-top: -100px;
}